{% extends 'user/base.html' %}

{% block content %}

<div class="container">
    <div class="card col-8">
        <div class="card-body">

            <h5 class="card-title">заголовок: {{ object.title }}</h5>
            <p class="card-title">текст: {{ object.text }}</p>

        </div>

        <div class="card-footer">

            {% if request.user.is_staff %}
            <p class="card-text mb-3">создатель: {{ object.owner }}</p>
            {% endif %}
            <a type="button" href="{% url 'client_service:message_list'%}"
               class="btn btn-lg btn-block btn-outline-primary">назад</a>

        </div>

    </div>
</div>

{% endblock %}