{% extends 'user/base.html' %}
{% load my_tags %}
{% block content %}

{% if user.is_authenticated %}
<div class="text-center container">
    <a class="btn btn-primary" href="{% url 'client_service:create' %}" type="button">Добавить</a>
</div>
{% endif %}

<div class="container col-8 mt-2 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Статистика</h1>
        </div>
        <div class="card-body">
            <div class="row text-center ">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><h4>Количество рассылок</h4></th>
                            <th><h4>Количество активных рассылок</h4></th>
                            <th><h4>Количество завершенных рассылок</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h4>{{ all }}</h4></td>
                            <td><h4>{{ active }}</h4></td>
                            <td><h4>{{ completed }}</h4></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">время отправки</th>
            <th scope="col">начало рассылки</th>
            <th scope="col">конец рассылки</th>
            <th scope="col">периодичность</th>
            <th scope="col">статус</th>
            <th scope="col">актуальность</th>
            {% if request.user.is_staff %}
            <th scope="col">создатель</th>
            {% endif %}
            <th scope="col">действия</th>
        </tr>
        </thead>
        <tbody>

        {% for client_service in object_list %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ client_service.next_send }}</td>
            <td>{{ client_service.start_time }}</td>
            <td>{{ client_service.end_time }}</td>
            <td>{{ client_service.periodicity }}</td>
            <td>{{ client_service.status }}</td>
            {% if request.user.is_staff %}
            {% if client_service.is_active %}
            <td>
                <a href="{% url 'client_service:toggle_active' client_service.pk %}" type="button"
                   class="btn btn-success">True</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'client_service:toggle_active' client_service.pk %}" type="button"
                   class="btn btn-danger">False</a>
            </td>
            {% endif %}
            <td>{{ client_service.owner }}</td>
            {% else %}
            <td>{{ client_service.is_active }}</td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="{% url 'client_service:view' client_service.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">смотреть</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'client_service:edit' client_service.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">изменить</a>
                    <a href="{% url 'client_service:delete' client_service.pk %}" type="button"
                       class="btn btn-sm btn btn-danger">удалить</a>
                    {% endif %}
                </div>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}